
@model ContentFileViewModel
@{
  ViewData["Title"] = "ثبت ";
  var hide200 = "";
  var hide800 = "";

  var type = Context.Request.Query["type"].ToString();
  if (type == "video")
  {
    ViewData["Title"] = "ثبت  ویدیو";

  }
}


<div class="card">
  <form asp-controller="ContentFile"
        asp-action="Create"
        asp-route-type="@type"
        method="post"
        enctype="multipart/form-data"
        class="form-horizontal">
    <div class="card-header">

      <strong>
        @ViewData["Title"]
      </strong>

    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-sm-12">
          <partial name="_CustomValidationSummary" />

        </div>
      </div>
      <div class="row">


        <div class="col-sm-7">

          <div class="form-group row">
            <label class="col-md-2 form-control-label" asp-for="Title"></label>

            <div class="col-md-10">
              <input asp-for="Title" class="form-control" placeholder="" type="text">
              <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          </div>




          <div class="form-group row">

            <label class="col-md-2 form-control-label" asp-for="Description"></label>



            <div class="col-md-10">
              <textarea asp-for="Description" class="form-control"></textarea>


              @*<span asp-validation-for="Description" class="text-danger"></span>*@
            </div>
          </div>


          <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="IsPublic">انتشار</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check checkbox">
                <input asp-for="IsPublic" class="form-check-input" type="checkbox" checked="checked">
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-md-2 col-form-label" asp-for="IsSelected">منتخب</label>
            <div class="col-md-9 col-form-label">
              <div class="form-check checkbox">
                <input asp-for="IsSelected" class="form-check-input" type="checkbox" checked="checked">
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-md-2 control-label">

              آهنگ
            </label>
            <div class="col-md-10">

              <select asp-for="ContentId" class="form-control content">
                @if (ViewBag.ContentName != null)
                {
                  <option value="@ViewBag.ContentId" selected="selected">@ViewBag.ContentName</option>

                }
              </select>
            </div>
          </div>





          <div class="form-group row ">

            <label asp-for="PhotoFileName" class="col-md-2 control-label"></label>

            <div class="col col-md-10">
              <input type="file" asp-for="Photo" class="form-control" />
              <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
          </div>


          <div class="form-group row">
            <label asp-for="VideoFileName" class="col-md-2 control-label">

            </label>
            <div class="col col-md-10">
              <input type="file" asp-for="Video" class="form-control" />
              <span asp-validation-for="Video" class="text-danger"></span>
            </div>
          </div>

          <div class="form-group row">
            <label asp-for="VideoFileName2" class="col-md-2 control-label">

            </label>
            <div class="col col-md-10">
              <input type="file" asp-for="Video2" class="form-control" />
              <span asp-validation-for="Video2" class="text-danger"></span>
            </div>
          </div>


          <div class="form-group row">
            <label asp-for="VideoFileName3" class="col-md-2 control-label">

            </label>
            <div class="col col-md-10">
              <input type="file" asp-for="Video3" class="form-control" />
              <span asp-validation-for="Video3" class="text-danger"></span>
            </div>
          </div>
          <div class="form-group row ">
            <label class="col-md-2 control-label">متن</label>

            <div class="col col-md-10">
              <textarea asp-for="ContentText" class="editor"></textarea>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <input type="hidden" asp-for="Type" value="@Context.Request.Query["type"]" />
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> ثبت</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> بازنشانی</button>
    </div>
  </form>
</div>




@section Scripts
  {



  <script src="~/content/plugin/tinymce/tinymce.min.js"></script>

  <script>
    tinymce.init({
      selector: '.editor',

      plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern imagetools"
      ],
      paste_data_images: true,
      images_upload_url: '/admin/content/UploadImage',
      images_upload_base_path: '',
      height: "280",
      directionality: 'rtl',
      language: 'fa_IR'
    });
  </script>


  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script>
    $(document).ready(function () {

      $('.content').select2(
        {
          placeholder: 'نام آهنگ را وارد نمایید',
          //Does the user have to enter any data before sending the ajax request
          minimumInputLength: 0,
          allowClear: true,
          ajax: {
            //How long the user has to pause their typing before sending the next request
            delay: 150,
            //The url of the json service
         url: '@Url.Action("GetStartBy", "Content")',
            dataType: 'json',
            async: true,
            //Our search term and what page we are on
            data: function (params) {
              return {
                pageSize: 20,
                pageNum: params.page || 1,
                searchTerm: params.term,
                //Value from client side.
                countyId: 'vv'
              };
            },
            processResults: function (data, params) {
              params.page = params.page || 1;
              return {
                results: $.map(data.results, function (obj) {
                  return { id: obj.id, text: obj.title };
                }),
                pagination: {
                  more: (params.page * 20) <= data.total
                }
              };
            }
          }
        });
    });
  </script>
}