@model List<CategoryViewModel>

<div class="row header-slider popular-section">
  <div class="col-sm-12">
    <a class="slider-header-title">
      محبوبترین ها
    </a>

    <a class="show-all-slider btn" href="/Album#/page/1/popular/desc"> نمایش همه</a>
  </div>
</div>
<div class="row position-relative">

  <a style="" class="slider-left-arrow homeLikeNextBtn">
    <i class="fas fa-chevron-left"></i>
  </a>

  <a style="" class="slider-right-arrow homeLikePrevBtn">
    <i class="fas fa-chevron-right"></i>
  </a>


  <div class="owl-carousel owl-theme home-like-slider col-sm-12">


    @{ var likeMusic = Model.ToList();}

    @for (int i = 0; i < likeMusic.Count; i++)
    {
      <div>
          <div class="play-album play-mobile" data-id="@likeMusic[i].Id">
              <i class="fas fa-play-circle"></i>
          </div>
          <div class="hover-container">
              <img src="/content/files/album/@likeMusic[i].Thumbnail" class="hover-image" />
              <div class="hover-overlay">
                  <div class="hover-text">
                      <div class="play-album" data-id="@likeMusic[i].Id">
                          <i class="far fa-play-circle"></i>
                      </div>
                      <div>
                          <a asp-controller="Album" asp-action="Detail" asp-route-id="@likeMusic[i].Id">

                              اطلاعات بیشتر
                          </a>
                      </div>
                  </div>

              </div>
          </div>
          <div class="slide-title">
              <a asp-controller="Album" asp-action="Detail" asp-route-id="@likeMusic[i].Id">
                  @if (likeMusic[i].Title.Length > 45)
                  {
                      @likeMusic[i].Title.Substring(0, 45)
                      <span class="dotted-album">

                          ...
                      </span>
                      <span class="d-none">
                          @likeMusic[i].Title.Substring(42, likeMusic[i].Title.Length - 42)

                      </span>
                  }
                  else
                  {
                      @likeMusic[i].Title
                  }
              </a>
          </div>
          <h3 class="slide-artist">
              @likeMusic[i].Artists
          </h3>
      </div>
    }
  </div>
</div>